@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
  margin: 0;
}

#title {
  position: absolute;
  z-index: 2;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin-top: 80px;
  margin-left: 42%;
}

#appContainerLogin {
  height: 100%;
  margin: 0;
  background-image: url(mohamed-nohassi-odxB5oIG_iA-unsplash.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

#appContainerUser {
  height: 100%;
  margin: 0;
  background-image: url(jae-bano-Xbf_4e7YDII-unsplash.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#uberContainer {
  height: 100%;
  margin: 0;
  position: relative;
}

#flexLoginContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 75%;

}

.login {
  background-color: rgb(92, 68, 171, 0.3);
  border: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
  height: 300px;
  width: 250px;
  padding: 10px;
}

.login input {
  margin: 15px;
}

.login button {
  margin: 15px;
}

.loginReg {
  background-color: rgb(92, 68, 171, 0.3);
  border: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
  height: 340px;
  width: 250px;
  padding: 10px;
}

.loginReg input {
  margin: 15px;
}

.loginReg button {
  margin: 15px;
}

#loginScreenButton {
  height: 50px;
  width: 50px;
  margin-top: 150px;
  background-color: rgb(92, 68, 171, 1);
  border: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
  padding: 10px;
}

.userAvatar {
  background-image: url(parttime-portraits-atOlntWcO4k-unsplash.jpg);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 25%;
  margin: 15px;
}

.menuIcon {
  background-image: url(menu.png);
  background-size: contain;
  height: 50px;
  width: 50px;
  margin: 15px;
}

#userpage {
  height: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#userpage-header {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: rgb(92, 68, 171, 0.3);
  border-bottom: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
  margin-bottom: 60px;
}

.hello {
  float: left;
  left: 0px;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
}
.iconContainer {
  float: right;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#iconAttribute {
  position: absolute;
  bottom: 10px;
}

#picture-display {
  margin-top: 300px;
}
#picture-display ul {
  list-style: none;
  /* margin-left: 25%; */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 600px;
  height: 550px;

}
.feed {
  display: block;
  margin-bottom: 50px;
}
.feed-image {
  border-radius: 10%;
  border: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
}
.imagedesc {
  margin-top: 5px;
  width: 402px;
  background-color: rosybrown;
  border: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
  padding: 5px;
}

#menuModalContainer {
  display: block;
  position: absolute;
  right:0px;
  background-color: rgb(92, 68, 171, 0.3);
  border: 1px solid #67727e;
  box-shadow: 0 1px 3px rgb(0 0 0 /4%);
  height: 340px;
  width: 250px;
  padding: 10px;
}

#phoneimg {
  background-image: url(phone-call.png);
  background-size: contain;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

#allies li {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#menuheader {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  height: 20px;
  margin-bottom: 20px;
  float:left;
}

#menuModalHeader {
  display: block;
  margin-bottom: 20px;
}
#menuModalHeader button {
  float: right;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

#allyContainer {
  margin-top: 20px;
}

#logout {
 background-color: red;
 margin-top: 25px;
}

#dropContainer {
  background-color: rgba(125, 122, 134, 0.3);
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

#textarea {
  height: 150px;
  width: 600px;
  padding: 20px;
  background-color: rgba(125, 122, 134, 0.6);
  margin:25px;
  color: black;
  font-weight: bold;
  text-align: start;
}

#dropContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

#dropContainerMain button {
  width: 208px;
  margin-left: 30%;
}